@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: #434455;
}

header > a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-decoration: none;
}

header > nav > ul > li > a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  color: #2e2f42;
  text-decoration: none;
}

/* Burada ( a ) etiketine -Focus- özelliği eklenmedi, çünkü tıklandığında aynı sayfada olduğu için butonda, tıklanıldığında 
alması istenilen renkte takılı kalıyor. */
header > nav > ul > li > a:hover {
  color: #4d5ae5;
  text-decoration: none;
}

header > nav > ul > li:first-child > a:active {
  text-decoration: underline;
  color: #4d5ae5;
}

header > address > ul > li > a {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.32px;
  font-style: normal;
  color: #434455;
  text-decoration: none;
}

/* Burada ( a ) etiketine -Focus- özelliği eklenmedi, çünkü tıklandığında aynı sayfada olduğu için butonda, tıklanıldığında 
alması istenilen renkte takılı kalıyor. */
header > address > ul > li > a:hover {
  color: #4d5ae5;
}

footer > a {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.54px;
  text-decoration: none;
}

footer {
  background-color: #2e2f42;
}

footer > p {
  color: #f4f4fd;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 1.12px;
  color: #ffffff;
  background-color: #2e2f42;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.72px;
  color: #2e2f42;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.4px;
  color: #2e2f42;
}

button {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.64px;
  color: #ffffff;
  background-color: #4d5ae5;
  cursor: pointer;
  border: none;
}

/* Burada ( button ) etiketine -Focus- özelliği eklenmedi, çünkü tıklandığında aynı sayfada olduğu için butonda, tıklanıldığında 
alması istenilen renkte takılı kalıyor. */
button:hover {
  background-color: #404bbf;
}

a {
  cursor: pointer;
}

/* WEBSTUDIO logosunun -WEB- bölümü için renklendirme */
.logo-web {
  color: #4d5ae5;
}

/* WEBSTUDIO logosunun Header alanında -STUDIO- bölümü için renklendirme */
.logo-studio-header {
  color: #2e2f42;
}

/* WEBSTUDIO logosunun Footer alanında -STUDIO- bölümü için renklendirme */
.logo-studio-footer {
  color: #f4f4fd;
}
